.Nav {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    background-color: white;
    width: 100%;
    align-items: center;
}

#Home {
    flex-grow: 1;
    
}
#Login{
    margin-right: 40px
}
a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 20px;
}
.Home {
    text-align: center;
}
body {
    margin: 0;
    background-color: rgb(160, 159, 159);
}
.Signup {
    text-align: center;
    width: 30%;
    margin:0 auto;
    
   
}
form {
    display: grid;
   
    grid-template-columns: 1fr 1fr 100px;
}
form h1 {
    grid-column: 1 / 3;
}

input {
    grid-column: 1 / 3;
    height: 20px;
    
}
button {
    grid-column: 1 / 2;
}
input[type=submit]{
    grid-column: 2 / 3;
    
}